<h2>Reporter output</h2><table><tr><td>TEST EXECUTION STARTED</td></tr>
<tr><td>Chrome Browser Launched</td></tr>
<tr><td>Navigated to portal</td></tr>
<tr><td>Patient_List_Column_Verification Test Case Started</td></tr>
<tr><td>Login Page appeared</td></tr>
<tr><td><p>Rendr Neuro Portal Page Loaded </p></td></tr>
<tr><td><p>User Credentials Given</p></td></tr>
<tr><td><p>Login button clicked</p></td></tr>
<tr><td>Login button did not appear</td></tr>
<tr><td><p>Login successful</p></td></tr>
<tr><td>Dashboard menu appeared</td></tr>
<tr><td><p>Menu bar is visible</p></td></tr>
<tr><td>Patient page pane appeared</td></tr>
<tr><td><p>Patient pane clicked</p></td></tr>
<tr><td>Unable to load data successful</td></tr>
<tr><td>Patient page appeared</td></tr>
<tr><td><p>Successfully navigated to the patients page</p></td></tr>
<tr><td><p>Patient page's first column verified</p></td></tr>
<tr><td><p>Patient page's second column verified</p></td></tr>
<tr><td><p>Patient page's third column verified</p></td></tr>
<tr><td><p>Patient page's fourth column verified</p></td></tr>
<tr><td><p>Patient page's fifth column verified</p></td></tr>
<tr><td>TC is passed</td></tr>
<tr><td>Patient_Create_Verification Test Case Started</td></tr>
<tr><td>Patient page pane appeared</td></tr>
<tr><td><p>Patient pane clicked</p></td></tr>
<tr><td>Create Button appeared</td></tr>
<tr><td>Create Button click appeared</td></tr>
<tr><td><p>Create Patient button clicked</p></td></tr>
<tr><td>Create patient page appeared</td></tr>
<tr><td><p>Successfully navigated to the create patient page</p></td></tr>
<tr><td><p>First name typed</p></td></tr>
<tr><td><p>Middle name typed</p></td></tr>
<tr><td><p>Last name typed</p></td></tr>
<tr><td><p>Male selected from the dropdown</p></td></tr>
<tr><td><p>SSN typed</p></td></tr>
<tr><td><p>Patient ID typed</p></td></tr>
<tr><td><p>DOB typed</p></td></tr>
<tr><td><p>Save button clicked</p></td></tr>
<tr><td>Proper toast message appeared</td></tr>
<tr><td><p>Toast message matched. Patient got created successfully.</p></td></tr>
<tr><td>TC is passed</td></tr>
<tr><td>Patient_Search_Functionality Test Case Started</td></tr>
<tr><td>Patient page pane appeared</td></tr>
<tr><td><p>Patient page pane clicked</p></td></tr>
<tr><td>Unable to load data successful</td></tr>
<tr><td>Patient page appeared</td></tr>
<tr><td><p>Patient page navigation successful</p></td></tr>
<tr><td>Search text bar appeared</td></tr>
<tr><td>Searching text successful</td></tr>
<tr><td><p>Patient searched by First name</p></td></tr>
<tr><td>06-20-2019_12:59:32_First_NameSearched result appeared</td></tr>
<tr><td><p>Patient search successful</p></td></tr>
<tr><td>Clear button appeared</td></tr>
<tr><td>Loading text successful</td></tr>
<tr><td><p>Clear button clicked</p></td></tr>
<tr><td>Search text bar appeared</td></tr>
<tr><td>Searching text successful</td></tr>
<tr><td><p>Patient searched by Middle name</p></td></tr>
<tr><td>06-20-2019_12:59:32_Middle_NameSearched result appeared</td></tr>
<tr><td><p>Patient search successful</p></td></tr>
<tr><td>Clear button appeared</td></tr>
<tr><td>Loading text successful</td></tr>
<tr><td><p>Clear button clicked</p></td></tr>
<tr><td>Search text bar appeared</td></tr>
<tr><td>Searching text successful</td></tr>
<tr><td><p>Patient searched by Last name</p></td></tr>
<tr><td>06-20-2019_12:59:32_Last_NameSearched result appeared</td></tr>
<tr><td><p>Patient search successful</p></td></tr>
<tr><td>Clear button appeared</td></tr>
<tr><td>Loading text successful</td></tr>
<tr><td><p>Clear button clicked</p></td></tr>
<tr><td>Search text bar appeared</td></tr>
<tr><td>Searching text successful</td></tr>
<tr><td><p>Patient searched by SSN</p></td></tr>
<tr><td>3842Searched result appeared</td></tr>
<tr><td><p>Patient search successful</p></td></tr>
<tr><td>Clear button appeared</td></tr>
<tr><td>Loading text successful</td></tr>
<tr><td><p>Clear button clicked</p></td></tr>
<tr><td>Search text bar appeared</td></tr>
<tr><td>Searching text successful</td></tr>
<tr><td><p>Patient searched by DOB</p></td></tr>
<tr><td>06/20/2019Searched result appeared</td></tr>
<tr><td><p>Patient search successful</p></td></tr>
<tr><td>Clear button appeared</td></tr>
<tr><td>Loading text successful</td></tr>
<tr><td><p>Clear button clicked</p></td></tr>
<tr><td>TC is passed</td></tr>
<tr><td>Patient_Edit_Functionality Test Case Started</td></tr>
<tr><td>Patient page pane appeared</td></tr>
<tr><td><p>Patient page pane clicked</p></td></tr>
<tr><td>Unable to load data successful</td></tr>
<tr><td>Patient page appeared</td></tr>
<tr><td><p>Patient page navigation successful</p></td></tr>
<tr><td>Search text bar appeared</td></tr>
<tr><td>Searching text successful</td></tr>
<tr><td><p>Patient searched by First name</p></td></tr>
<tr><td>06-20-2019_12:59:32_First_NameSearched result appeared</td></tr>
<tr><td><p>Patient search successful</p></td></tr>
<tr><td>Edit button appeared</td></tr>
<tr><td><p>Patient edit button clicked</p></td></tr>
<tr><td>Unable to load successful</td></tr>
<tr><td>Edit Patient page appeared</td></tr>
<tr><td><p>Successfully navigated to the edit patient page</p></td></tr>
<tr><td><p>First name typed</p></td></tr>
<tr><td><p>Middle name typed</p></td></tr>
<tr><td><p>Last name typed</p></td></tr>
<tr><td><p>Male selected from the dropdown</p></td></tr>
<tr><td><p>SSN typed</p></td></tr>
<tr><td><p>Patient ID typed</p></td></tr>
<tr><td><p>DOB typed</p></td></tr>
<tr><td><p>Save button clicked</p></td></tr>
<tr><td>Proper toast message appeared</td></tr>
<tr><td><p>Toast message matched. Patient got edited successfully.</p></td></tr>
<tr><td>Patient page pane appeared</td></tr>
<tr><td><p>Patient pane clicked</p></td></tr>
<tr><td>Unable to load data successful</td></tr>
<tr><td>Patient page appeared</td></tr>
<tr><td><p>Successfully navigated to the patients page</p></td></tr>
<tr><td>Search text bar appeared</td></tr>
<tr><td>Searching text successful</td></tr>
<tr><td><p>Patient searched by First name</p></td></tr>
<tr><td>06-20-2019_12:59:32_First_Name_EditedSearched result appeared</td></tr>
<tr><td><p>Patient search successful</p></td></tr>
<tr><td>TC is passed</td></tr>
<tr><td>Browser Closed</td></tr>
<tr><td>TEST EXECUTION FINISHED</td></tr>
<tr><td>############################################</td></tr>
</table>